.checkout-subtotal {
  background-color: white;
  color: var(--dark-2);
  width: 100%;
  max-width: 320px;
  padding: 32px 26px;
  font-size: var(--normal);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 16px;
  font-size: 14px;
}

.checkout-subtotal div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout-subtotal hr {
  margin: 0;
}

.checkout-subtotal strong {
  margin-bottom: 6px;
  color: var(--dark-1);
  font-weight: 500;
}

.checkout-btn {
  font-size: 14px;
  font-weight: 500;
}
